.LoadingMessage {
	background: url('../images/ajax-loader.gif') no-repeat center top;
	padding: 30px 4px 4px 4px;
	text-align: center;
	width: 150px;
}

.StyleTable {
	border-collapse: collapse;
}

.listGridHeaderRow {
	text-align: center;
	font-weight: bold;
}

.listGridCell, .listGridHeaderRow {
	padding: 2px 4px;
}

.listGridEvenRow td, .listGridOddRow td {
	border: 1px solid;
}

.listGridEvenRow {
	background-color: white;
}

.listGridOddRow {
	background-color: #EEEEEE;
}

/*
.validatedRow {
	background-color: #CFC;
}
*/