body {
	font-family: arial, sans-serif;
}

div,td {
	color: #000000;
}

button {
	display: block;
}

.sandBox-Table {
	border-collapse: collapse;
}

.sandBox-Table:hover {
	cursor: pointer;
}

.sandBox-TableHeader td {
	font-weight: bold;
	border-bottom: 1px solid black;
}

.sandBox-TableHeaderFirstColumn,.sandBox-TableRowFirstColumn {
	padding-left: .5em;
}

.sandBox-TableHeaderLastColumn,.sandBox-TableRowLastColumn {
	padding-right: .5em;
}

.sandBox-TableRow:hover {
	background-color: silver;
}

.sandBox-TableRowOdd {
	background-color: #eeeeee;
}