.dataTable-NavigationBar {
	font-weight: bold;
}

.dataTable-NavigationBar a {
	text-decoration: none;
	margin: 0 8px;
}

.dataTable-NavigationBar td {
	border: none;
}

.dataTable {
	border-left: 1px solid #95B5DB;
	border-right: 1px solid #95B5DB;
	border-bottom: 1px solid #95B5DB;
	font-size: 80%;
	cursor: pointer;
	cursor: hand;
	font-family: sans-serif;
}

.dataTable-header td {
	border-top: none;
	background-color: transparent;
}

.dataTable-header {
	background-image: url("img/headerBackground.png");
	background-repeat: repeat-x;
	height: 25px;
	font-weight: bold;
	color: white;
}

.dataTable-SelectedRow td {
	background-color: #C4D8F0;
	border-bottom: 1px solid #A3BFDF;
	border-top: 1px solid #A3BFDF;
}

.dataTable-SelectedRow {
	background: #eee;
}